/*
Theme Name: Brand Template
Text Domain: twentyfifteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
@font-face {
    font-family: Comppro Medium; /* Гарнитура шрифта */
    src: url(fonts/PFDINTEXTCOMPPRO-MEDIUM.TTF), url(fonts/PFDINTEXTCONDPRO-MEDIUM.OTF),url(fonts/PFDinTextCompPro-Medium.woff); 
}
@font-face {
    font-family: Comppro Light; /* Гарнитура шрифта */
    src: url(fonts/PFDINTEXTCOMPPRO-LIGHT.TTF),url(fonts/PFDinTextCompPro-Light.woff);
}
@font-face {
    font-family: Comppro Thin; /* Гарнитура шрифта */
    src: url(fonts/PFDINTEXTCOMPPRO-THIN.TTF); 
}

@font-face {
    font-family: Comppro LightItalic; /* Гарнитура шрифта */
    src: url(fonts/PFDINTEXTCONDPRO-ITALIC.TTF), url(fonts/PFDINTEXTCONDPRO-ITALIC.OTF),url(fonts/PFDINTEXTCONDPRO-ITALIC.woff); 
}

@font-face {
    font-family: Comppro Italic; /* Гарнитура шрифта */
    src: url(fonts/PFDINTEXTCONDPRO-ITALIC.TTF),url(fonts/PFDinTextCompPro-Italic.woff);
}
@font-face {
    font-family: Comppro Regular; /* Гарнитура шрифта */
    /*src: url(fonts/PFDINTEXTCONDPRO-REGULAR_0.TTF); */
    src: url(fonts/DINCONDENSED-REGULAR.OTF); 
}
@font-face {
    font-family: 'DNC57'; /* Гарнитура шрифта */
    /*src: url(fonts/PFDINTEXTCONDPRO-REGULAR_0.TTF); */
    src: url(fonts/DINCONDENSED-REGULAR.OTF); 
}
@font-face {
    font-family: 'Bodoni Bold'; /* Гарнитура шрифта */
    /*src: url(fonts/PFDINTEXTCONDPRO-REGULAR_0.TTF); */
    src: url(fonts/Bodoni-Bold.OTF); 
}
* {
	margin: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	color: #0b0b0b;
	font-family: 'Comppro Medium', sans-serif;
	font-size: 16px;
	line-height: 23px; 
	background-color: #ffffff; 
}
ul{
	list-style: none;
	text-decoration: none;
	margin: 0;
    padding: 0;
}
 
a{
	font-size: inherit;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img{
	border: 0;
}
 h2{
    font-weight: 700;
    font-family: 'Comppro Light';
    font-size: 42px;
    color: #b39041;
    text-transform: uppercase;
    letter-spacing: 3px;
 }
 h3{
 	display: inline;
 	font-size: 22px;
 	text-transform: uppercase;
    font-style: italic;
 }
 h4{
 	display: inline;
 	text-transform: uppercase;
    font-style: italic;
 }
 .container{
    overflow: hidden;
 }
 .underline{
    padding-bottom: 8px;
    border-bottom: 1px solid #000;
    margin: 0;
 }
 #wrapper {
    width: 100%;
    height: 100%;
    min-height: 160px;
    margin: 0 auto;
}
.section{
	margin-bottom: 50px;
}
.navbar-default{
    position: relative;
	border: 0;
	background: none;
	padding-top: 10px;
	margin-bottom: 10px;
}
.navbar-default .navbar-collapse{
	text-align: center;
	width: 100%;
}
.navbar .mobile {
	 visibility: hidden;
	 width: 0;
}
.navbar-nav > li{
	padding: 0;
    padding-top: 42px;
    width: 13.3%;
}
.navbar-brand {
    text-align: center;
    padding: 0;
    height: 71px;
    margin: 0;
    width: 20%;
    padding-top: 24px;
}
.navbar-brand img,
.footer .lg img{
	display: inline-block;
    margin-left: 10px; 
    width: 126px;
    height: auto;
}
.navbar-default .navbar-nav > li > a{
	font-family: 'DNC57';
	text-transform: uppercase;
	display: inline-block;
	padding: 0;	
	margin: 0;
	font-size: 18px;
	vertical-align: bottom;
	color: #b9984f;
}
.nav li a:hover{
	border-bottom: 2px solid #b39041;
    color: #b39041;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #fff;
}
.navbar-nav {
	width: 100%;
    height: 70px;
    display: inline-block;
    float: none;
    padding: 0;
}
.navbar-nav > li:nth-child(1),
.navbar-nav > li:nth-child(2),
.navbar-nav > li:nth-child(3){
    text-align: left;
}

.navbar-nav > li:nth-child(5),
.navbar-nav > li:nth-child(6),
.navbar-nav > li:nth-child(7){
    text-align: right;
}

.container{     
	padding-left: 0; 
	padding-right: 0;
}

.top-line{
	text-align: center;
	height: 90px;
	padding-top: 18px;
}
.top-img{
	position: relative;
	text-align: center;
	width: 100%;	
	height: auto;
	max-height: 480px;
    overflow: hidden;
}
.circle{
	width: 517px;
    height: 516px;
    background: url('img/circle-3.png') no-repeat 50% 50%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 5px;
    margin-left: -242px;
}
.about-us{
	padding: 25px 0 0 12%;
	position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    width: 30%;
}
.img-bottom{
    position: absolute;
    bottom: 1px;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 999
}
.img-text{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    font-size: 52px;
    color: #fff;
    letter-spacing: 4px;
    z-index: 999;
}
.img-bottom .btn{
	margin: 0 5px;
    width: 104px;
}
.img-bottom .gold{
	margin-right: -2%;
}
.btn.gold{
	background: #b9984f;
}
.points{
	background: #b9984f;
	padding-top: 25px;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 0
}
.points h3{
    color: #fff;
    font-style: normal;
	font-size: 24px;
	letter-spacing: 2px;
}
.points img{
    width: 25px;
    vertical-align: top;
    margin-left: 10px;
}
.points p{
    font-family: Comppro LightItalic;
    padding-top: 30px;
    /*padding-left: 22px;*/
    line-height: 22px;
    font-size: 16px;
    color: #fff;
}
.points .border-white{
	border-right: 2px solid #fff;
    height: 200px;
    margin-bottom: 25px;
}
.points .no-border{
    height: 120px;
    margin-bottom: 25px;
}
.top-slider{
    position: relative;
    text-align: center;
}
.top-slider .rslides_nav{
    left: 0;
}
.top-slider .rslides_nav.next{
    right: 0;
}
.top-img p{
	font-size: 14px;
	line-height: 18px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	padding: 5px 0;
	margin: 0;
}
.orange{
	float: left;
    width: 100%;
    padding: 4px 0 12px;
    background: #b39041;
}
.presentation .btn{
	width: 260px;
	border: 0;
	letter-spacing: -1px;
    font-size: 20px;
	text-transform: uppercase;
}
.presentation .underline{
    border-bottom: 1px solid #000;
    display: inline-block;
    padding: 0 50px 8px;
}
.why .underline{
    border-bottom: 1px solid #000;
    padding: 0 28%;
    display: inline-block;
    margin-bottom: -6px;
}
.why p{
	line-height: 28px;
    font-family: Comppro Italic;
    letter-spacing: 2px;
    font-style: italic;
    text-transform: uppercase;
    padding: 16px 190px;
    margin-bottom: 0;
    padding-bottom: 0;
}
.what_we_do .btn{
	width: 20%;
    padding: 6px 0;
    text-transform: uppercase;
	/*margin-bottom: 30px;*/
	border: 0;
}
.clients-img{
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    max-height:142px;
    max-width:142px;
    height: 100vh;
    margin: 0 auto;
}
.brands{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.brands-item{
    width: 20%;
    float: left;
}
.brands img{
	height: 62px;
}
.brands-line{
	border-bottom: 2px solid #000;
	float: left;
	width: 100%;
    padding-bottom: 0;
}
.contact-us .form{
	text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 16px;
    margin-top: 20px
 }
 .contact-us .btn{
 	width: 160px;
    padding: 4px;
    font-weight: 700;
    font-family: 'Comppro Light';
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 14px;
	border: 0;
    margin-top: -2px;
 }
 .contact-us p{
 	line-height: 28px;
	font-family: 'Comppro LightItalic';
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    padding: 20px 30% 0 30%;
    margin: 0;
	text-transform: uppercase;
 }

 .ptext{
    line-height: 16px;
    font-size: 14px;
    padding: 0 12px;
 }
 .contact-us .form{
 	margin-bottom: 0px;
 }
.form input{
    /*font-family: Roboto Condensed;*/
    padding: 0 12px;
    border: 1px solid #505050;
    color: #934310;
    font-size: 16px;
    float: left;
    width: 100%;
    margin: 14px 0;
    text-align: center;
    text-transform: uppercase;
}
.form textarea{
	float: left;
    width: 100%;
    height: 150px;
    margin-bottom: 18px;
    border: 1px solid #505050;
    resize: vertical;
}
.btn{
    font-family: Comppro Italic;
    background: #231f20;
    font-size: 18px;
    color: #ffffff;
    border-radius: 0;
    border: 2px double #fff;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d1d2d4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d1d2d4;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d1d2d4;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #d1d2d4;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #d1d2d4;
}
.catalog{
	text-align: left;
	background: url('img/bg-1.png') 50% 100%;
	padding: 30px 1% 5px;
	width: 100%;
	float: left;
}

.catalog .number{
    -webkit-text-fill-color: #dbdcde;
    color: #dbdcde;
}
.catalog .case{
    position: relative;
    padding: 55px 1%;
    padding-bottom: 0;
    margin-bottom: 50px;
    display: inline-block;
}
.black-border{
     border-right: 1px solid #000;
}
.no-border{
    border-right: none;
}
.catalog .container{
    padding-left: 10px;
}
.number{
    font-size: 140px;
    font-family: 'Comppro LightItalic';
    letter-spacing: -20px;
    color: #fff;
    width: 70px;
   -webkit-text-stroke: 1px #b39041;
    -webkit-text-fill-color: #fff;
    color: white;
    text-shadow: 3px 3px 0 #b39041, -1px -1px 0 #b39041,   1px -1px 0 #b39041, -1px  1px 0 #b39041, 1px  1px 0 #b39041;
/*    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #b39041;
    -moz-text-stroke-width: 1px;
    -moz-text-stroke-color: #b39041;*/
}
.catalog .number{
    float: left;
    font-size: 210px;
    padding-top: 20px;
    margin-bottom: -30px;
    display: inline-block;
}
.catalog h4{
    color: #b39041;
    position: relative;
    padding-right: 30%;
    /* margin-top: -10px; */
    display: inline-block;
    font-size: 24px;
    margin-top: -70px;
    margin-left: 105px;
    /* height: 80px; */
    font-style: normal;
}
.catalog .case:nth-child(2) h4,
.catalog .case:nth-child(5) h4{
    margin-left: 115px;
}
.catalog .case:nth-child(2) p,
.catalog .case:nth-child(5) p{
    margin-left: 115px;
}

/*.catalog h4.right-arrow::after{
	content: '';
	position: absolute;
    top: 50%;
    right: 0;
	background: url('img/arrow-right.png') no-repeat;
	width: 42px;
	height: 28px;
}*/
.catalog p{
    margin-left: 105px;
    padding-top: 0;
    padding-right: 45px;
    line-height: 16px;
    font-size: 14px;
    font-family: Comppro Italic;
}
.our-team h4{
    margin: 0;
    margin-top: 10px;
    display: block;
    letter-spacing: 1px;
    font-style: normal;
    font-family: 'Comppro Light';   
}
.our-team{
	text-transform: uppercase;
	color: #b39041;
}
.our-team p{
	font-size: 12px;
	font-family: Comppro Light;
}
.our-team .dotted{
    border: 2px dotted #b39041;
    border-radius: 50%;
}
.our-team img{
    max-width: 155px;
    border: 2px dotted #b39041;
    padding: 5px;
    border-radius: 50%;
}
.professionals .block{
   /* padding: 0 10%;*/
    text-align: center;
}
.professionals .arrow{
    margin: 30px 0;
}
.professionals h4{
    display: block;
    font-size: 22px;
    font-style: normal;
    margin: 0;
    margin-top: 10px;
    padding-bottom: 20px;
    text-align: left;
    color: #b39041;
}
.professionals .text-content p{
    font-family: 'Comppro LightItalic';
    text-align: left;
    line-height: 22px;
    font-size: 14px;
}
.professionals .info{
	font-size: 14px;
    font-family: Comppro Italic;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 0 20%;
    padding-bottom: 0;
    text-transform: uppercase;
}
.professionals .number{
    float: left;
    width: 30%;
    display: inline-block;
    font-size: 200px;
    letter-spacing: -40px;
    margin-top: 70px;
}
.professionals .text-content{
    float: left;
    width: 70%;
    padding-left: 23%;
}
.professionals .stat-2 .text-content{
    padding-left: 12%;
}
.gallery img{
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    width: 20%;
    height: auto;
}
.news .btn{
    width: 160px;
    padding: 4px;
    font-weight: 700;
    font-family: 'Comppro Light';
    font-size: 14px;
    letter-spacing: 3px;
	width: 170px;
    color: #000;
    text-transform: uppercase;
}
.news .item{
	width: 20%;
    float: left;
}
.news-content{
	margin-bottom: 14px;
	background: #e7e7e8;
	border-bottom: #787677;
}
.news-content{
	background: #e7e7e8;
	border-bottom: 1px solid #787677;
}
.news .rslides{
	border-bottom: 1px solid #787677;
}

.news img{
	width: 100%;
    display: inline-block;
}
.news h4{
	display: inline-block;
	margin: 20px 12px 10px;
	color: #b39041;
}
.bottom-bg{
    width: 100%;
    height: 90px;
    overflow: hidden;
    background: url('img/bg.jpg') no-repeat 0% 50%;    
    background-size: cover;
}

 .results-bg{
/*    background: url('img/results.jpg') no-repeat 50%;
    background-size: cover;*/
    min-height: 199px;
    overflow: hidden;
}
 .results > div{
    padding: 0 30px;
}
 .results{
 	float: left;
 	text-align: left;
    padding: 46px 0;
 	width: 100%;
 }
 .results h4{
 	color: #b39041;
 	font-size: 24px;
    font-style: normal;
 }
 .results p{
    font-family: 'Comppro LightItalic';
    line-height: 22px;
    font-size: 14px;
	padding: 0;
	padding-top: 20px;
}
.testimonials-bg{
    height: 340px;
    overflow: visible;
    background: url('img/bg-2.png') no-repeat 50%;*/
    /*background: url('img/documents.jpg') no-repeat 50%;*/
    background: #999;
    color: #fff;
    background-size: cover;
}
.testimonials{
	position: relative;
 	width: 100%;
    padding: 6px 15%;
    font-family: Comppro LightItalic;
 }
 .testimonials .rslides {
 	height: 260px;
 	padding: 0;
 }
 .testimonials h4{
 	display: block;
    text-align: left;
    color: #000;;
    margin-bottom: 0;
    text-transform: none;
 }
 .testimonials h4 + div{
    color: #000;;
 }
 .testimonials p{
    line-height: 20px;
    font-size: 16px;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
 }
 .testimonials-block .arrow{
 	margin-top: 50px;
 }
 .rslides_tabs{
 	background: url('img/slider-line-2.png') repeat-x;
    display: inline-block;
  }
  .rslides_tabs::after{
  	content:'';
  	position: absolute;
  	right: -5px;
  	width: 9px;
  	height: 23px;
 	background: url('img/slider-right-2.png');
  }
  .rslides_tabs::before{
  	content:'';
  	position: absolute;
  	left: -5px;
  	width: 9px;
  	height: 23px;
 	background: url('img/slider-left-2.png');
  }
 .rslides_tabs{
 	position: relative;
    display: inline-block;
  }
 .rslides_tabs li{
 	padding: 0 4px;
 	display: inline-block;
 }
  .rslides_tabs li a{
  	font-size: 0;
  	display: inline-block;
  	width: 12px;
  	height: 12px;
 	background: url('img/gold-point-1.png') no-repeat;
    background-size: cover;
 }
.rslides_tabs li.rslides_here a{
    background: url('img/black-point-1.png') no-repeat;
    background-size: cover;
 }

.testimonials-block .rslides_nav{
	background-image: url('img/left.png');
    top: 36%;
    left: 0;
}
.testimonials-block  .rslides_nav.next{
	background-image: url('img/right.png');
    top: 36%;
    left: auto;
    right: 0;
}
.testimonials-block h2{
	color: #fff;
}
.rslides_nav{
	background-image: url('img/prev-btn-2.png');
    background-repeat: no-repeat;
    background-size: cover;
	width: 95px;
	height: 176px;
    position: absolute;
    left: 10%;
    top: 50%;
    margin-top: -104px;
    z-index: 9999;
 }
 .rslides_nav.next{
 	background-image: url('img/next-btn-2.png');
 	left: auto;
 	right: 10%;
 }
.arrow{
    background: url('img/arrow-small.png') no-repeat;
    width: 20px;
    height: 30px;
    display: inline-block;
}
.point{
	display: inline-block;
    background: url('img/point-2.png') no-repeat;
    width: 20px;
    height: 29px;
}
/*.detail{
	position: absolute;
	top: 5px;
	left: 0;
	background: url('img/detail-2.png') no-repeat;
	width: 47px;
	height: 55px;
	display: inline-block;
}*/
.footer{
	/*background: #b39041;*/
    background: url('img/bg-3.png') no-repeat 50%;
	padding-top: 40px;
	color: #e6e6e6;
}
.footer .category{
    padding-top: 40px;
    padding-bottom: 0;
}
.footer p{
    color: #000;
    font-size: 13px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 300;
    margin: 0;
    background: rgba(179, 144, 65, 0.8);
    height: 50px;
    display: block;
    margin-top: 20px
}

.footer .mn-top-contact li{
    float: left;
    display: block;
    padding-top: 5px;
}

.footer .mn-top-contact li i {
    padding: 0;
}
.footer .lg{
    padding-top: 45px;
    display: inline-block;
}
.footer .cp{
    font-size: 12px;
    display: inline-block;
    padding-top: 15px;
    color: #b9984f;
}
.category{
    /* height: 335px; */
    padding: 20px;
    color: #e6e6e6;
}

.category ul li {
    margin: 2px 0;
}
.category ul li a {
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
    color: #000;
    font-family: 'Comppro LightItalic';
}
 .category ul li a:after{
    content:'';
 	background: url('img/slider-line-2.png') repeat-x;
    width: 28px;
    height: 23px;
    position: absolute;
    margin-left: -14px;
    bottom: -5px;
    left: 50%;
  }

  #toTop {
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:10px;
    right:10px;
    overflow:hidden;
    width:51px;
    height:51px;
    border:none;
    text-indent:100%;
    background:url(img/ui.totop.png) no-repeat left top;
}

#toTopHover {
    background:url(img/ui.totop.png) no-repeat left -51px;
    width:51px;
    height:51px;
    display:block;
    overflow:hidden;
    float:left;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
    outline:none;
}
/*
#social{
    position: absolute;
    left: 0;
    bottom: 0;
}*/
#social a{
    display: block;
    width: 20px;
    height: 20px;
    float: left;
    margin: 8px 10px 0 0;
    margin-top: 25px;
    z-index: 999;
}
.instagram{
    background: url('img/instagram-2.png');
}
.facebook{
    background: url('img/facebook-2.png');
}
.vk{
    background: url('img/vk-2.png');
}

.mn-top-bar{
    height: 38px;
    position: relative;
    border-bottom: 1px solid #b9984f;
}
.mn-top-contact{
    text-align: right;  
    margin-top: 10px;
}
.mn-top-contact li {
    display: inline-block;
    color: #b9984f;
    margin-left: 25px;
    font-size: 14px;
    font-weight: normal;
    font-family: 'Comppro Light';
    text-transform: uppercase;
    letter-spacing: 2px;
}
.mn-top-contact li i {
    margin-right: 5px;
    padding: 10px 0;
}
.fa-envelope:before {
    content: "\f0e0";
}
.fa-phone:before {
    content: "\f095";
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.call-request input,
.call-request select,
.call-request textarea{
    width: 100%;
}
.call-request.modal{
    position: absolute;
    top: 50%;
    margin-top: -300px;
}


/* responsive */

@media (max-width: 1200px){
	.professionals .number{
		font-size: 170px;
	}
	.professionals .text-content p{
       line-height: 16px;
       font-size: 13px;
	}
	.professionals h4{
	    padding-bottom: 5px;
	}
	.professionals .black-border{
		height: 170px;
	}
	.professionals .stat-2 .text-content{
		padding-left: 14%;
	}
}


@media (min-width: 1380px){
	.results-bg .container {
	    padding-left: 5%;
	}
}

@media (max-width: 768px){
	.navbar-nav > li:nth-child(5), .navbar-nav > li:nth-child(6), .navbar-nav > li:nth-child(7) {
	    text-align: left;
	}
	.navbar-nav{
		padding-left: 15px;
	}
	.navbar-brand img{
		margin-left: 30px;
	}
	.navbar-default .navbar-toggle{
		margin-right: 30px;
		margin-top: 30px;
	}
	.catalog .number{
		font-size: 190px;
		margin-bottom: -20px;
	}
	.catalog p,
	.catalog h4 {
		margin-left: 90px;
	}
	.catalog .case:nth-child(2) p, 
	.catalog .case:nth-child(5) p{
		margin-left: 105px;
	}
	.catalog .case:nth-child(2) h4, 
	.catalog .case:nth-child(5) h4{
		margin-left: 105px;
	}
	.catalog p{
		padding-right: 5px;
	}
	.catalog .case{
		padding: 45px 0;
		margin: 0;
	}
    .points{
        text-align: center;
    }
    .black-border{
        border: none;
    }
    .testimonials p{
        font-size: 13px;
       text-align: center;
    }
    .testimonials h4.gold, .testimonials h4.gold + div{
    	font-size: 13px;
    	text-align: center;
    }
    .testimonials h4{
        font-size: 16px;
    }
    .points .border-white{
        height: auto;
        border: none;
    }
	.navbar .mobile {
	    visibility: visible;
	    width: auto;
	}
    .navbar-nav {
        padding-top: 0;
    }
    .navbar-nav > li {
        padding-top: 10px;
        text-align: left;
    }
    .navbar-brand.desktop{
        display: none;
    }
    .results{
        text-align: center;
    }
    .professionals .info {
        text-align: center;
    }
    .rslides_nav{
        left: 0;
    }
    .rslides_nav.next {
        right: 0;
    }
    .gallery{
        float: left;
    }
    .gallery img{
        width: 50%;
    }
    .what_we_do .btn {
        width: 50%;
        min-width: 200px;
    }
    .circle{
        background-size: 80%;
    }
    .top-slider .rslides_nav{
        width: 63px;
        height: 117px;  
        margin-top: -58px;
    }
    .testimonials-block .rslides_nav{
    	width: 63px;
        height: 117px;  
        top: 45%;
    }
    .testimonials-block  .rslides_nav.next{
    	 top: 45%;
    }
    .results-bg .container{
        padding-left: 0;
    }
    .brands{
        text-align: center;
    }
    .brands-item{
        width: 33.3333%;
    }
    .footer .mn-top-contact{
   		margin-right: 15px;
    }
}

@media (max-width: 996px){

	.mn-top-contact li{
		letter-spacing: 0;
		margin-left: 10px;
	}

	.testimonials p{
		font-size: 14px;
	}

	.results > div{
		padding: 0 10px;
	}

    .catalog h4.right-arrow::after{
        display: none;
    }
    .about-us{
        width: 100%;
        text-align: center;
        padding: 40px !important;
    }
    .about-us p{
        font-size: 12px;
        font-weight: bold;
    }
    .brands-line{
        text-align: center;
    } 
    .brands-line > div{
        display: inline-block;
        padding: 0 5%;
    }
    .why p{
    	padding: 16px 5%;
    }
    .point{
        float: left;
        margin: 8px 10px 0 -10px;
    }
   .catalog .black-border{
        border-right: none;
   }
   .professionals .black-border{
   	    border-right: none;
   }
   .professionals .number{
   	    letter-spacing: -2px;
   	    margin-top: 30px;
   	    font-size: 84px;
	    text-align: right;
	    padding-right: 30px;
   }
   .professionals .text-content,
   .professionals .stat-2 .text-content{
   	   padding: 0;
   }
   .professionals .black-border{
   		height: auto;
   }
}

@media (max-width: 620px){
	.footer .mn-top-contact{
		width: 100%;
	    display: inherit;
	    text-align: center;
	    float: left;
   }
   .footer .mn-top-contact ul{
   		display: inline-block;
   }
	.navbar-default .navbar-toggle{
		margin-top: 0;
	}
	.navbar-brand{
		padding-top: 0;
	}
	.navbar-brand{
		height: auto;
	}
	.mn-top-contact li{
		margin-left: 5px;
	}
     .presentation .underline{
        display: block;
        padding: 0;
    }

    h2 {
        font-size: 36px;
    }
    .points{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #social{
    	display: none;
    }   
    .mn-top-bar .mn-cn{
    	width: 100%;
    }
    .case{
        width: 100%;
        }
    .catalog h4 {
    	padding-right: 0;
        height: auto;
        display: block;
        margin-left: 85px;
    }
    .catalog p {
        width: auto;
        margin-left: 85px;
    }
    .catalog .case{
    	height: 144px;
    	margin-bottom: 30px;
    }
    .catalog h4{
    	margin-top: -35px;
    }
    .catalog p,
    .catalog h4{
    	margin-left: 105px;
    }   
    .catalog .number{
        width: 100px;
        text-align: right;
        padding-right: 30px;
    }

    .brands-line > div {
    	/*display: block;
    	float: left;
		width: 50%;
	    margin: 0;
	    padding: 0;*/
	    border-bottom: 2px solid #000;
	}
	.brands-line{
		border: 0;
	}
    .news .item {
        width: 100%;
    }
    .circle{
        background-size: 60%;
        margin-left: -260px;
    }
    .form input {
        padding: 0 4px;
    }
    .contact-us p{
        padding: 15px;
    }
    .results{
        padding: 2%;
    }
}

@media (max-width: 460px){
	.mn-top-bar{
		display: none;
	}
	.top-slider .rslides_nav {
	    width: 47px;
	    height: 88px;
	    margin-top: -44px;
	 }
	.testimonials .rslides_nav{
		 width: 47px;
	     height: 88px;
	     top: 47%;
	}
	.testimonials p {
	    font-size: 12px;
	}
	.catalog p{
		width: auto;
	}

	.professionals .number{
		letter-spacing: -18px;
		padding-right: 45px;
	}


}
