@font-face {
    font-family: Prestige; /* Гарнитура шрифта */
    src: url(../fonts/prestige-elite-std/PrestigeEliteStd.otf), 
    url(fonts/PFDINTEXTCONDPRO-MEDIUM.OTF),
    url(fonts/PFDinTextCompPro-Medium.woff); 
}

@font-face {
    font-family: Grotesk; /* Гарнитура шрифта */
    src: url(../fonts/Grotesk/AkzidenzGroteskPro-Cn.otf)
}

.arrow {
    background: url('../img/arrow.png') no-repeat;
    width: 155px;
    height: 16px;
    margin-top: 90px;
    margin-bottom: 45px;
    display: inline-block;
}

body{
	font-family: 'Prestige';
}

.container {
    overflow: hidden;
}

ul li{
	list-style: none;
}

.top-container{
	padding: 40px 0;
	width: 100%;
    height: 900px;
    color: #fff;
	background: url(../img/top-bg.png);
}

.top-container > div{
	height: 100%;
	position: relative;
}

.close,.rslides_nav.next{
	cursor: pointer;
    z-index: 999;
	width: 24px;
    height: 24px;
    display: inline-block;
	position: absolute;
	right: 30px;
	top: 0;
	background: url(../img/close.png);
}

.logo{
    display: inline-block;
	position: absolute;
	left: 30px;
	top: 0;
}

.menu{
	text-align: right;
	margin: 0;
    padding: 0;
}

.menu a{
	display: inline-block;
	cursor: pointer;
	padding-bottom: 10px;
	color: #fff;
	font-size: 22px;
	font-family: 'Grotesk';
}

.top-content{
    margin-top: 270px;
}

.slogan{
	font-size: 84px;
	line-height: 84px;
	font-family: 'Grotesk';
}
.social{
	padding: 0;
	float: left;
	position: absolute;
	left: 0;
	bottom: 0;
}

.social li{
	float: left;
}

.social li a{
	display: inline-block;
	margin-right: 10px;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: 50%;
}

.facebook{
	background-image: url(../img/facebook.png);
}

.twitter{
	background-image: url(../img/twitter.png);
}

.be{
	background-image: url(../img/be.png);
}
	
.linkedin{
	background-image: url(../img/linkedin.png);
}

.vimeo{
	background-image: url(../img/vimeo.png);
}

.facebook-dark{
	background-image: url(../img/facebook-dark.png);
}

.twitter-dark{
	background-image: url(../img/twitter-dark.png);
}

.be-dark{
	background-image: url(../img/be-dark.png);
}
	
.linkedin-dark{
	background-image: url(../img/linkedin-dark.png);
}

.vimeo-dark{
	background-image: url(../img/vimeo-dark.png);
}

.contact{
	background: #f7f7f1;
	padding: 60px 0;
}

.contact > div{
	display: flex;
}

.footer{
	padding: 80px 0;
	width: 100%;
    height: 360px;
    color: #fff;
	background: url(../img/bottom-bg.png);
}

.footer img{
	padding-bottom: 40px;
}

.team{
	background: #f7f7f1;
	/*padding-bottom: 45px;*/
}
.team .member{
	padding-top: 125px;
}
.team .description{
    padding-top: 68px;
    padding-left: 45px;
}
.team .description p{
    padding-top: 45px;
}
.title{
	text-align: right;
	text-transform: lowercase;
	padding-top: 25px;
	font-family: 'Grotesk';
}
.portfolio{
	background: #ffffff;
}
.portfolio .work{
	background: url('../img/portfolio-bg.png') no-repeat 0% 0%;
}
.work{
    padding-top: 155px;	
} 

.brands {
    width: 100%;
    float: left;
    margin-bottom: 20px;
    text-align: center;
}

.brands-item{
    width: 20%;
    float: left;
}
.brands img{
	height: 62px;
}

.blog .image{
	padding-right: 20px;
    padding-bottom: 40px;
}

.vertical, .horizontal{
	position: relative;
}  

.clients{
	background: #f7f7f1;
}


/* Slider */  
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides > li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides > li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides > img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }


@media (min-width: 992px){
	.menu a{
		font-size: 32px;
    }
    .right-side{
    	float: right;
    }
    .left-side{
    	float: left;
    }
    .horizontal .description{
    	position: absolute;
    	bottom: 25px;
    	left: 18%;
    	z-index: 999;
	}
	.margin-172{
		margin-top: -172px;
	}
	.margin-150{
		margin-top: -150px;
	}
	.margin75{
		margin-top: 75px;
	}
}

@media (max-width: 992px){
	 img{
    	max-width: 100%;
    }
	.slogan {
		font-size: 58px;
		line-height: 64px;
	}
	.horizontal .description{
		margin: -50px 0 50px 50%;
	}
	.vertical, .horizontal{
		padding-top: 20px;
	}
	.vertical .image{
		float: left;
    	margin-right: 30px;
	}
}

@media (max-width: 768px){
	.slogan {
		font-size: 42px;
		line-height: 54px;
	}
	.contact{
		text-align: center;
	}
	.contact > div {
    	display: block;
	}
	.contact .social {
    	position: relative;
    	float: none;
	}
	.social li {
    	display: inline-block;
    	float: none;
	}
}

@media (max-width: 480px){
	.slogan {
		font-size: 32px;
		line-height: 42px;
	}
	.top-content {
    	margin-top: 170px;
	}
	.top-container {
    	height: 600px;
    }
    .team .member, .work {
    	padding-top: 25px;
	}
	.team {
    	padding-bottom: 55px;
	}
}
