@font-face {
    font-family: Comppro Medium; /* Гарнитура шрифта */
    src: url(fonts/PFDINTEXTCOMPPRO-MEDIUM.TTF), url(fonts/PFDINTEXTCONDPRO-MEDIUM.OTF),url(fonts/PFDinTextCompPro-Medium.woff); 
}
@font-face {
    font-family: Comppro Light; /* Гарнитура шрифта */
    src: url(fonts/PFDINTEXTCOMPPRO-LIGHT.TTF),url(fonts/PFDinTextCompPro-Light.woff);
}
@font-face {
    font-family: Comppro Thin; /* Гарнитура шрифта */
    src: url(fonts/PFDINTEXTCOMPPRO-THIN.TTF); 
}
@font-face {
    font-family: Comppro Italic; /* Гарнитура шрифта */
    src: url(fonts/PFDINTEXTCONDPRO-ITALIC.TTF),url(fonts/PFDinTextCompPro-Italic.woff);
}
@font-face {
    font-family: Comppro Regular; /* Гарнитура шрифта */
    /*src: url(fonts/PFDINTEXTCONDPRO-REGULAR_0.TTF); */
    src: url(fonts/DINCONDENSED-REGULAR.OTF); 
}
* {
	margin: 0;
	box-sizing: border-box;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	color: #0b0b0b;
	font-family: 'Comppro Medium', sans-serif;
	font-size: 16px;
	line-height: 23px; 
	background-color: #ffffff; 
}
ul{
	list-style: none;
	text-decoration: none;
	margin: 0;
    padding: 0;
}
 
a{
	font-size: inherit;
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img{
	border: 0;
}
 h2{
    font-weight: 700;
    font-family: 'Comppro Light';
    font-size: 44px;
    color: #b39041;
    text-transform: uppercase;
    letter-spacing: 3px;
 }
 h3{
 	display: inline;
 	font-size: 22px;
 	text-transform: uppercase;
    font-style: italic;
 }
 h4{
 	display: inline;
 	text-transform: uppercase;
    font-style: italic;
 }
 .container{
    overflow: hidden;
 }
 .underline{
    padding-bottom: 8px;
    border-bottom: 2px solid #000;
    margin: 0;
 }
 #wrapper {
    width: 100%;
    height: 100%;
    min-height: 160px;
    margin: 0 auto;
}
.section{
	margin-bottom: 50px;
}
.navbar-default{
    position: relative;
	border: 0;
	background: none;
	padding-top: 16px;
	margin-bottom: 10px;
}
.navbar-default .navbar-collapse{
	text-align: center;
	width: 100%;
}
.navbar .mobile {
	 visibility: hidden;
	 width: 0;
}
.navbar-nav > li{
	padding: 0;
    padding-top: 42px;
    width: 12%;
}
.navbar-brand {
	text-align: center;
    padding: 0;
    height: 71px;
    margin: 0;
    width: 28%;
}
.navbar-brand img{
	display: inline-block;
	margin-left: -10px;
}
.navbar-default .navbar-nav > li > a{
	font-family: 'PT Sans', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	display: inline-block;
	padding: 0;	
	margin: 0;
	font-size: 14px;
	vertical-align: bottom;
	color: #b9984f;
}
.nav li a:hover{
	border-bottom: 2px solid #b39041;
    color: #b39041;
}
.btn:hover, .btn:focus, .btn.focus {
    color: #fff;
}
.navbar-nav {
	width: 100%;
    display: inline-block;
    float: none;
    padding-right: 8%;
    padding-left: 8%;
}

.container{     
	padding-left: 0; 
	padding-right: 0;
}

.top-line{
	text-align: center;
	height: 90px;
	padding-top: 18px;
}
.top-img{
	position: relative;
	text-align: center;
	width: 100%;	
	height: auto;
	/*max-height: 620px;*/
    overflow: hidden;
}
.circle{
	width: 517px;
    height: 516px;
    background: url('img/circle-3.png') no-repeat 50% 50%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-top: 5px;
    margin-left: -242px;
}
.about-us{
	padding: 25px 0 0 12%;
	position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    width: 30%;
}
.img-bottom{
    position: absolute;
    bottom: 1px;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 999
}
.img-text{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 600px;
    margin-left: -300px;
    font-size: 52px;
    color: #fff;
    letter-spacing: 4px;
    z-index: 999;
}
.img-bottom .btn{
	margin: 0 5px;
    width: 104px;
}
.img-bottom .gold{
	margin-right: -2%;
}
.btn.gold{
	background: #b9984f;
}
.points{
	padding-top: 25px;
	padding-left: 3%;
	padding-right: 3%;
}
.points h3{
    color: #b39041;
    font-style: normal;
	font-size: 24px;
	letter-spacing: 2px;
}
.points p{
  /*  font-family: 'PT Sans';*/
    padding-top: 10px;
    padding-left: 22px;
    line-height: 16px;
    font-size: 14px;
}
.top-slider{
    position: relative;
}
.top-slider .rslides_nav{
    left: 0;
}
.top-slider .rslides_nav.next{
    right: 0;
}
.top-img p{
	font-size: 14px;
	line-height: 18px;
	font-family: 'PT Sans', sans-serif;
	text-transform: uppercase;
	padding: 5px 0;
	margin: 0;
}
.orange{
	float: left;
    width: 100%;
    padding: 4px 0 12px;
    background: #b39041;
}
.presentation .btn{
	width: 260px;
	border: 0;
	letter-spacing: -1px;
    font-size: 20px;
	text-transform: uppercase;
}
.why p{
	line-height: 28px;
    font-weight: 700;
    font-family: Comppro Italic;
    letter-spacing: 4px;
    font-style: italic;
    text-transform: uppercase;
    padding: 16px 190px;
}
.what_we_do .btn{
	width: 20%;
    padding: 6px 0;
	/*margin-bottom: 30px;*/
	border: 0;
}
.brands{
	float: left;
}
.brands img{
	height: 62px;
}
.brands-line{
	border-bottom: 2px solid #000;
	float: left;
	width: 100%;
    padding-bottom: 0;
}
.contact-us .form{
	text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 16px;
 }
 .contact-us .btn{
 	width: 160px;
    padding: 4px;
    font-weight: 700;
    font-family: 'Comppro Light';
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 14px;
	border: 0;
 }
 .contact-us p{
 	line-height: 28px;
	font-family: 'PT Sans', sans-serif;
    color: #404041;
    text-transform: uppercase;
    font-size: 12px;
    padding: 20px 30% 0 30%;
    margin: 0;
	text-transform: uppercase;
 }

 .ptext{
    line-height: 16px;
    font-size: 14px;
    padding: 0 12px;
 }
 .contact-us .form{
 	margin-bottom: 0px;
 }
.form input{
	font-family: Roboto Condensed;
	padding: 0 12px;
	border: 1px solid #c8c7c7;
	color: #934310;
	font-size: 20px;
	float: left;
    width: 100%;
    margin: 14px 0;
}
.form textarea{
	float: left;
    width: 100%;
    height: 150px;
    margin-bottom: 18px;
}
.btn{
    font-family: Comppro Italic;
    background: #231f20;
    font-size: 18px;
    color: #ffffff;
    border-radius: 0;
    border: 2px double #fff;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d1d2d4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d1d2d4;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d1d2d4;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #d1d2d4;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    #d1d2d4;
}
.catalog{
	text-align: left;
	background: #ebebeb url('../img/bg-1.png');
	padding: 30px 1% 5px;
	width: 100%;
	float: left;
}
.catalog .case{
	position: relative;
	padding: 45px 1%;
    display: inline-block;
}
.catalog .container{
    padding-left: 6%;
}
.number{
    font-size: 140px;
    font-family: 'PT Serif';
    color: #b39041;
    width: 70px;
}
.catalog .number{
	float: left;
}
.catalog h4{
    position: relative;
	padding-right: 30%;
    display: inline-block;
    font-size: 28px;
    margin-top: -60px;
    margin-left: 80px;
    height: 80px;
    font-style: normal;
}
.catalog h4.right-arrow::after{
	content: '';
	position: absolute;
    top: 50%;
    right: 0;
	background: url('img/arrow-right.png') no-repeat;
	width: 42px;
	height: 28px;
}
.catalog p{
	margin-left: 80px;
    padding-top: 0;
    line-height: 16px;
    font-size: 14px;
}
.our-team h4{
    margin: 0;
    margin-top: 10px;
    display: block;
    letter-spacing: 1px;
    font-style: normal;
    font-family: 'Comppro Light';   
}
.our-team{
	text-transform: uppercase;
	color: #b39041;
}
.our-team p{
	font-size: 12px;
	font-family: Comppro Light;
}
.our-team .dotted{
    border: 2px dotted #b39041;
    border-radius: 50%;
}
.our-team img{
    max-width: 155px;
    border: 2px dotted #b39041;
    padding: 5px;
    border-radius: 50%;
}
.professionals .block{
    padding: 0 10%;
    text-align: center;
}
.professionals h4{
    display: block;
    font-size: 22px;
    font-style: italic;
    margin: 0;
    margin-top: 40px;
}
.professionals .text-content p{
    text-align: left;
    line-height: 16px;
    font-size: 14px;
    padding: 0 20%;
}
.professionals .info{
	font-size: 14px;
    font-family: Comppro Italic;
    font-weight: 700;
    letter-spacing: 5px;
    padding: 20px;
    padding-bottom: 60px;
    text-transform: uppercase;
}
.professionals .number{
	display: inline-block;
	width: 100%;
	font-size: 112px;
}
.gallery img{
    margin: 0;
    padding: 0;
    display: inline-block;
    float: left;
    width: 20%;
}
.news .btn{
    width: 160px;
    padding: 4px;
    font-weight: 700;
    font-family: 'Comppro Light';
    font-size: 14px;
    letter-spacing: 3px;
	width: 170px;
    color: #000;
    text-transform: uppercase;
}
.news .item{
	width: 20%;
    float: left;
}
.news-content{
	margin-bottom: 14px;
	background: #e7e7e8;
	border-bottom: #787677;
}
.news-content{
	background: #e7e7e8;
	border-bottom: 1px solid #787677;
}
.news .rslides{
	border-bottom: 1px solid #787677;
}

.news img{
	width: 100%;
    display: inline-block;
}
.news h4{
	display: inline-block;
	margin: 20px 12px 10px;
	color: #b39041;
}
.bottom-bg{
    width: 100%;
    height: 90px;
    overflow: hidden;
    background: url('img/bg.jpg') no-repeat 0% 50%;    
    background-size: cover;
}

 .results-bg{
    background: url('img/results.jpg') no-repeat 50%;
    background-size: cover;
    height: 199px;
    overflow: hidden;
}
.results-bg .container{
  padding-left: 10%;
}
 .results{
 	float: left;
 	text-align: left;
    padding: 56px 40px;
 	width: 100%;
 }
 .results h4{
 	color: #b39041;
 	font-size: 22px;
 }
 .results p{
    line-height: 16px;
    font-size: 14px;
	padding: 0;
	padding-top: 20px;
}
.testimonials-bg{
    height: 260px;
    overflow: visible;
    background: url('img/documents.jpg') no-repeat 50%;
    background-size: cover;
}
.testimonials{
	position: relative;
 	width: 100%;
    padding: 20px 25%;
 }
 .testimonials .rslides {
 	height: 260px;
 	padding: 0;
 }
 .testimonials h4{
 	display: block;
    text-align: left;
    color: #b39041;;
    margin-bottom: 0;
 }
 .testimonials h4 + div{
 	font-family: 'Comppro Light';
 	text-transform: uppercase;
    color: #b39041;;
 }
 .testimonials p{
 	font-family: 'PT Sans';
    line-height: 16px;
    font-size: 14px;
    padding: 0;
    padding-top: 10px;
 }
 .testimonials-block .arrow{
 	margin-top: 50px;
 }
 .rslides_tabs{
 	background: url('img/slider-line-2.png') repeat-x;
    display: inline-block;
  }
  .rslides_tabs::after{
  	content:'';
  	position: absolute;
  	right: 0;
  	width: 9px;
  	height: 23px;
 	background: url('img/slider-right-2.png');
  }
  .rslides_tabs::before{
  	content:'';
  	position: absolute;
  	left: 0;
  	width: 9px;
  	height: 23px;
 	background: url('img/slider-left-2.png');
  }
 .rslides_tabs{
 	position: relative;
    display: inline-block;
  }
 .rslides_tabs li{
 	padding: 3px 10px;
 	display: inline-block;
 }
  .rslides_tabs li a{
  	font-size: 0;
  	display: inline-block;
  	width: 19px;
  	height: 18px;
 	background: url('img/gold-point-1.png') no-repeat;
 }

.rslides_nav{
	background: url('img/prev-btn-2.png');
	width: 95px;
	height: 176px;
    position: absolute;
    left: 10%;
    top: 50%;
    margin-top: -88px;
    z-index: 9999;
 }
 .rslides_nav.next{
 	background: url('img/next-btn-2.png');
 	left: auto;
 	right: 10%;
 }
.arrow{
	background: url('img/arrow-2.png') no-repeat;
	width: 28px;
	height: 42px;
	display: inline-block;
}
.point{
	display: inline-block;
    background: url('img/point-2.png') no-repeat;
    width: 20px;
    height: 29px;
}
.detail{
	position: absolute;
	top: 5px;
	left: 0;
	background: url('img/detail-2.png') no-repeat;
	width: 47px;
	height: 55px;
	display: inline-block;
}
.footer{
	background: #b39041;
	height: 335px;
	padding-top: 40px;
	color: #e6e6e6;
}
.footer.category{
    padding-top: 40px;
}
.category{
    /* height: 335px; */
    padding: 20px;
    color: #e6e6e6;
}

.category ul li {
    margin: 2px 0;
}
.category ul li a {
    font-size: 14px;
    letter-spacing: 1px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
    color: #000;
}
 .category ul li a:after{
    content:'';
 	background: url('img/slider-line-2.png') repeat-x;
    width: 18px;
    height: 23px;
    position: absolute;
    margin-left: -9px;
    bottom: -5px;
    left: 50%;
  }

  #toTop {
    display:none;
    text-decoration:none;
    position:fixed;
    bottom:10px;
    right:10px;
    overflow:hidden;
    width:51px;
    height:51px;
    border:none;
    text-indent:100%;
    background:url(img/ui.totop.png) no-repeat left top;
}

#toTopHover {
    background:url(img/ui.totop.png) no-repeat left -51px;
    width:51px;
    height:51px;
    display:block;
    overflow:hidden;
    float:left;
    opacity: 0;
    -moz-opacity: 0;
    filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
    outline:none;
}
/*
#social{
    position: absolute;
    left: 0;
    bottom: 0;
}*/
#social a{
    display: inline-block;
    width: 20px;
    height: 20px; 
    margin: 10px 5px;  
}
.instagram{
    background: url('img/instagram-2.png');
}
.facebook{
    background: url('img/facebook-2.png');
}
.vk{
    background: url('img/vk-2.png');
}

.mn-top-bar{
    position: relative;
    border-bottom: 1px solid #767373;
}
.mn-top-contact{
  text-align: right;  
}
.mn-top-contact li {
    display: inline-block;
    color: #767373;
    margin-right: 25px;
    font-size: 14px;
}
.mn-top-contact li i {
    margin-right: 5px;
    padding: 10px 0;
}
.fa-envelope:before {
    content: "\f0e0";
}
.fa-phone:before {
    content: "\f095";
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* responsive */
@media (min-width: 1380px){
.results-bg .container {
    padding-left: 5%;
}
}
@media (max-width: 768px){
	.navbar .mobile {
	    visibility: visible;
	    width: auto;
	}
    .navbar-nav {
        padding-top: 0;
    }
    .navbar-nav > li {
        padding-top: 10px;
        text-align: left;
    }
    .navbar-brand.desktop{
        display: none;
    }
    .results{
        text-align: center;
    }
    .professionals .info {
        text-align: center;
    }
    .rslides_nav{
        left: 0;
    }
    .rslides_nav.next {
        right: 0;
    }
    .gallery{
        float: left;
    }
    .gallery img{
        width: 50%;
    }
    .what_we_do .btn {
        width: 50%;
    }
    .circle{
        background-size: 80%;
    }
 /*   #social {
        position: absolute;
        right: 55px;
        top: 30px;
    }*/
    .results-bg .container{
        padding-left: 0;
    }
}

@media (max-width: 996px){
    .catalog h4.right-arrow::after{
        display: none;
    }
    .about-us{
        width: 100%;
        text-align: center;
        padding: 40px !important;
    }
    .about-us p{
        font-size: 12px;
        font-weight: bold;
    }
    .brands-line{
        text-align: center;
    } 
    .brands-line > div{
        display: inline-block;
        padding: 0 5%;
    }
    .why p{
    	padding: 16px 5%;
    }
    .point{
        float: left;
        margin: 8px 10px 0 -10px;
    }
   
}

@media (max-width: 620px){
    .mn-top-bar{
        display: none;
    }
    .case{
        width: 100%;
        }
    .catalog h4 {
    	padding-right: 0;
        height: auto;
        display: block;
        margin-left: 85px;
    }
    .catalog p {
        width: 100%;
        margin-left: 85px;
    }
    .brands-line > div {
    	/*display: block;
    	float: left;
		width: 50%;
	    margin: 0;
	    padding: 0;*/
	    border-bottom: 2px solid #000;
	}
	.brands-line{
		border: 0;
	}
    .navbar-brand{
        width: 50%;
    }
    .news .item {
        width: 100%;
    }
    .circle{
        background-size: 60%;
        margin-left: -260px;
    }
    .form input {
        padding: 0 4px;
    }
    .contact-us p{
        padding: 15px;
    }
    .results{
        padding: 2%;
    }
    .professionals .block > div{
        padding: 20px 0;
    }
}

@media (max-width: 990px){
    .brands{
        text-align: right;
    }
    .professionals .number{
        font-size: 84px;
    } 
    .professionals .block {
        padding: 0;
        text-align: center;
    }
    .professionals .block > div,
    .results > div{
        display: inline-block;
    }
    .professionals .text-content p{
        padding: 0 25%;
    }
    .results .detail{
        display: none;
    }
    .results h4{
        font-size: 18px;
    }
    .results{
        padding: 5%;
    }

}

}
